
<br />
<br />
<br />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cart</h2>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
<!--<h6 class="px-3">Placeholder.</h6>-->
<br />

<table class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>OPTION</th>
            <th>NAME</th>
            <th>GEAR CATEGORY</th>
            <th class="text-center" colspan="2">QTY</th>
            <th class="text-center">WT</th>
            <th class="text-center">WT TOTAL</th>
            <th class="text-center">COST</th>
            <th class="text-center">SUBTOTAL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td width="8%" class="align-middle"><a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Equipment.Name">Remove</a></td>
                <td width="18%" class="align-middle">@item.Equipment.Name</td>
                <td width="18%" class="align-middle">@item.Equipment.GearCategory</td>
                <td width="4%" class="text-center align-middle">
                    <div class="row m-0 p-0 align-middle">
                        <div class="col m-0 p-0">
                            <div class="row m-0 p-0 align-items-center justify-content-center">
                                <a asp-controller="Cart" asp-action="Up" asp-route-id="@item.Equipment.Name"><i class="fa fa-caret-up"></i></a>
                            </div>
                            <div class="row m-0 p-0 align-items-center justify-content-center">
                                <a asp-controller="Cart" asp-action="Down" asp-route-id="@item.Equipment.Name"><i class="fa fa-caret-down"></i></a>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="5%" class="text-center align-middle">@item.Quantity</td>
                <td width="10%" class="text-center align-middle">@item.Equipment.Weight lb.</td>
                <td width="14%" class="text-center align-middle">@(@item.Equipment.Weight * item.Quantity) lb.</td>
                <td width="8%" class="text-center align-middle">@item.Equipment.CostQuantity @item.Equipment.CostUnit</td>
                <td width="15%" class="text-center align-middle">@(item.Equipment.CostQuantity * item.Quantity) @item.Equipment.CostUnit</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">TOTALS <br /> (for the final totals on copper and silver coins,<br />it converts 10-to-1 to the next coin type up)</td>
            <td class="text-center">@ViewBag.totalweight lb.</td>
            <td align="right"></td>
            <td class="text-center">@ViewBag.totalgold gp <br />@ViewBag.totalsilver sp <br />@ViewBag.totalcopper cp</td>
        </tr>
    </tbody>
</table>

<a asp-controller="Equipment" asp-action=@TempData["equipType"].ToString()>Continue Shopping</a>
@{ 
    TempData.Keep("equipType");
}
<br />
<a asp-controller="Checkout" asp-action="Index" asp-route-id="">Go To Checkout</a>

