@model List<YeOldeFake5eShop.Models.Equipment>

@{
    TempData["equipType"] = "Weapons";
}

<br />
<br />
<br />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Weapons</h2>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
<h6 class="px-3">I have strived to list the equipment in the same order as presented in the PHB tables, where possible.</h6>
<br />

<table class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>WEAPON NAME</th>
            <th>WEAPON CATEGORY</th>
            <th>WEIGHT</th>
            <th>COST</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="30%" class="font-weight-bold">@obj.Name</td>
                <td width="30%" class="font-weight-bold">@obj.GearCategory</td>
                <td width="10%" class="font-weight-bold">@obj.Weight lb.</td>
                <td width="10%" class="font-weight-bold">@obj.CostQuantity @obj.CostUnit</td>
                <td><a asp-controller="Cart" asp-action="Buy" asp-route-id="@obj.Name">Add to Cart</a></td>
            </tr>
            @if (obj.Description != null)
            {
                <tr>
                    <td colspan="5" class="px-5">@obj.Description</td>
                </tr>
            }

        }
    </tbody>
</table>

